#This file can be used to publish your package in DevOps or NPM website . 
# By default it will publish it npm website  

registry=https://registry.npmjs.com 

always-auth true


# uncomment below code in case you want to publish it to your DevOps Arctifacts and comment above code
 #***** : Replace it with your DevOps instance 


# registry=https://pkgs.dev.azure.com/**DevOps instance name**/_packaging/**Artifact name***/npm/registry/ 
                        
# always-auth=true
